@import "tailwindcss";

@theme {
  --color-background: #503c3c;
  --color-primary: #3e3232;
  --color-foreground: #a87c7c;
  --color-secondary: #9c7979;
  --color-muted: #988080;
  --color-border: #dcdcd0;
}
