@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 5vw;
    }
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: rgb(80,79,79);
    background: radial-gradient(circle, rgba(80,79,79,1) 1%, rgba(75,75,75,1) 100%);
    transition: ease-in-out 0.3s;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}